body {
  padding-top: 60px; /* Adjust this value to match your header's height */
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8edd2; /* Colore di sfondo desiderato */
    width: 100%;
    position: fixed; /* Fissa l'header */
    top: 0; /* Posiziona l'header in cima alla pagina */
    left: 0;
    z-index: 1000;
}

.title {
    font-family: "libre bodoni";
    color: #c70505;
    font-style: oblique;
    font-size: 6vb;
    padding-left: 30px;
}
.ulist {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.ulist li {
    padding: 30px;
}
.ulist li a {
    text-decoration: none;
    color: red;
    font-size: 2vb;
    font-weight: bold;
}
.container {
  position: relative;
  width: 100%;
  padding-top: 60px; /* Adjust this value to match your header's height */
}

.container img {
    width: 100%;
    height: auto;
}

.subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "libre bodoni";
    font-weight: 700;
    text-align: center;
    font-size: 10em; /* Adjust font size as needed */
}

@media screen and (max-width: 700px) {
  .subtitle {
    font-size: 1em;
  }
}
